<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gvdroid.simple.mybatis.repository.TestSQLMapper">
    <resultMap id="BaseResultMap" type="com.gvdroid.simple.mybatis.entity.Test">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="entityId" jdbcType="VARCHAR" property="entityId"/>
        <result column="nDate" jdbcType="TIMESTAMP" property="nDate"/>
    </resultMap>
    <select id="selectList" resultMap="BaseResultMap">
    select *
    from test
    where entityId = #{entity.entityId}
  </select>
</mapper>
